name: Image creation

on:
  workflow_dispatch:

permissions:
  contents: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod

      - name: Build
        run: go build -o app .

      - name: Run program
        run: ./app
  
      - name: Commit and push to data branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git checkout --orphan data
          git rm -rf .

          git add images/
          git commit -m "Update data output from Go generator"

          git push -u origin HEAD:data --force